@model IEnumerable<PersonsMVC.Models.UserViewModel>
@using PersonsMVC.Middleware.Helpers;

@{
    ViewData["Title"] = "List of people";
}

@Html.ErrorAlert(TempData["Error"])
@Html.ErrorAlert(ViewData["Error"])

<div class="row">
    <div class="col-sm-8 border border-secondary-4">
        <h1>Set the filter:</h1>
        <form data-ajax-url="/Home/Filter" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#user-list">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <label class="input-group-text" for="#Name">Name:</label>
                </div>

                <input id="Name" name="Name" type="text" class="form-control" />
            </div>

            <div class="input-group mb-3">
                <div class="input-group-append">
                    <label class="input-group-text" for="#LastName">Last name:</label>
                </div>

                <input id="LastName" name="LastName" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <div class="form-row">
                    <input type="submit" class="btn btn-success col-sm-6" value="Filter" />
                    <input type="reset" class="btn btn-danger col-sm-6" value="Clear" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        <p>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create-form">
                Create new
            </button>
        </p>
    </div>
</div>

<div id="user-list" class="container-fluid">
    @await Html.PartialAsync("UsersList", Model)
</div>

<div class="modal fade" id="create-form" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div id="create-form-container" class="modal-body">
                @await Html.PartialAsync("UserModify", new UserViewModel())
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#Create-user-form").submit(function (event) {
            event.preventDefault();
            var formData = new FormData();
            formData.append("Name", $("#Create-user-form input[name=Name]").val())

            formData.append("LastName", $("#Create-user-form input[name=LastName]").val())

            $.ajax({
                type:'POST',
                url: '@Url.Action("Create")',
                data: formData,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (response.created === true) {
                    $("#Create-user-form")[0].reset()
                    PopulateUsersList();
                } else {
                    $("#Create-form-container").html(response);
                }
            });
        })

        function PopulateUsersList() {
             $.ajax({
                type:'GET',
                url: '@Url.Action("Filter")',
                processData: false,
                contentType: false
             }).done(function (response) {
                 $("#user-list").html(response);
            });
        }
    </script>
}