@model IEnumerable<PersonsMVC.Models.UserViewModel>

@{
    ViewData["Title"] = "List of people";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>
            @TempData["Error"]
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h1>View</h1>

<p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#create-form">
        Create new
    </button>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 m-3">

            @await Html.PartialAsync("UserView", item)

            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        </div>
    }
</div>
<div class="modal fade" id="create-form" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-body">
                @await Html.PartialAsync("Create", new UserViewModel())
            </div>
        </div>
    </div>
</div>   