@Model WebApplication1.Models.Data

@{
    ViewBag.Title = "Show";
}

<h2>Edit</h2>

@if (@Model.Value == null)
{
    <h3>
        Expected message: No value provided
    </h3>
}
else
{
    <h3> Expected message: @Model.Value</h3>
}