
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    @if (@Model != null)
    {
        <h1>@Model</h1>
    }
    else
    {
        <h1>No value provided</h1>
   
    }
</head>
<body>
    <div>
    </div>
</body>
</html>
