@model IEnumerable<Lecture_2.Models.User>

@{
    ViewBag.Title = "User";
}

<h2>Users:</h2>

<label for="searchInput">Search user:</label>
<input type="search" id="searchInput" name="q" />

<table id="tblUsers" class="table table-bordered table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th align="left" class="productth">ID</th>
            <th align="left" class="productth">User Name</th>
            <th align="left" class="productth">User LastName</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    let searchInput = document.getElementById('searchInput');
    console.log(searchInput);
    searchInput.addEventListener('blur', LoadData);
    function LoadData() {
        console.log('blur');
        $("#tblUsers tbody tr").remove();
        $.ajax({
            type: 'GET',
            url: "http://localhost:62950/User/FilterUsers/" + $(this).val(),
            dataType: 'json',
            success: function (data) {
                console.log(data)
                $.each(data, function (i, item) {
                    let rows = "<tr>"
                        + "<td class='prtoducttd'>" + item.Id + "</td>"
                        + "<td class='prtoducttd'>" + item.Name + "</td>"
                        + "<td class='prtoducttd'>" + item.LastName + "</td>"
                        + "</tr>";
                    $('#tblUsers tbody').append(rows);
                });
            }
        });
    }
</script>

<table class="table" style="display: list-item">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

        </tr>
    }
</table>
